body {
  background-repeat: no-repeat;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.h-100 {
  height: 100vh !important;
}
.bgbox {
  background: white;
  margin: 1rem 0;
  padding: 0.5rem;
  color: #4f4f4f;
  border-radius: 10px;
}
* {
  margin: 0;
  padding: 0;
}
.my-editor {
  background: white;
  border-radius: 0.25rem;
  padding: 0.5rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
